@layer template, base;

@layer base {
  :root {
    --clr-bg-base: light-dark(
      var(--clr-neutral-10, oklch(97% 0 0)),
      var(--clr-neutral-900, oklch(15% 0.02 280))
    );
    --clr-text-base: light-dark(
      var(--clr-neutral-900, oklch(15% 0.02 280))
        var(--clr-neutral-0, oklch(100% 0 0))
    );
    --clr-accent-base: light-dark(oklch(64% 0.16 303), oklch(47% 0.23 6));
    --ff-400: "Karla";
    --ff-700: "Jost";

    --default-max-inline-size: 80ch;
  } /* END @root */

  .wrapper {
    display: grid;
    gap: var(--spacing-100, 1em);

    @media (width > 700px) {
      gap: var(--spacing-200, 2em);
      grid-template-columns:
        minmax(min(100%, (var(--default-max-inline-size) / 2) * 0.75ch), 0.75fr)
        minmax(
          min(100%, (var(--default-max-inline-size) / 2) * 1.25ch),
          1.25fr
        );
      grid-template-areas:
        "title title"
        "card controls"
        "carousel carousel";
      header {
        grid-area: title;
      }
      .card {
        grid-area: card;
        /* align-self: end;*/
      }
      .controls {
        grid-area: controls;
        align-self: end;
      }
      .carousel-wrapper {
        grid-area: carousel;
      }
    } /* END @media */
  } /* END .wrapper */

  code {
    display: inline-block;
  }

  h1 {
    text-align: center;
  }
  /* .size {
    container-type: size;
  } */

  .shape {
    aspect-ratio: 1;
    background-color: var(--clr-accent, hotpink);
    clip-path: var(--_shape-clip-path);
  }

  .output-wrapper {
    display: grid;
    gap: var(--spacing-025, 0.25em);
  }

  @container (width > 20ch) {
    .output-wrapper {
      display: flex;
      align-items: start;
      gap: var(--spacing-025, 0.25em);
      margin-block-start: var(--spacing-050, 0.5em);
    }
  } /* END @container */

  output {
    max-inline-size: 100cqi;

    & code {
      margin-block-start: var(--spacing-050, 0.5em);
      white-space: pre-wrap;
      font-size: clamp(0.9rem, 1rem + (-1 * 3cqb), 1.1rem);
    } /* END & code */
  } /* END output */

  .controls-wrapper {
    display: grid;
    gap: var(--spacing-100, 1em);
    grid-template-columns: 1fr;
    justify-content: center;

    @container (width > 40ch) {
      grid-template-columns: repeat(2, 1fr);
    } /* END @container */

    &
      :is(
        button.btn-add_path:not(:has(+ .btn-reset)),
        .input-wrapper:has([data-field]):is(:nth-child(odd)):has(+ .btn),
        .custom-select:has([id="select-command"]):not(
            :has(
              + .custom-select [id="select-coor-opt"],
              + .custom-select [data-field="fill-rule"]
            )
          )
      ) {
      grid-column: 1 / -1;

      &:is(.input-wrapper:has([data-field]):is(:nth-child(odd)):has(+ .btn))
        label.custom-input {
        flex-grow: 1;
      } /* END &:is(input-wrapper) */
    } /* END:is .btn-add_path:not() */
  } /* END controls-wrapper */

  .input-wrapper label {
    flex-grow: 1;
  }

  :is(.custom-input, .custom-select)
    .label
    + :is(input, select):nth-last-child {
    margin-block-start: var(--spacing-025, 0.25em);
  }

  .select-unit,
  [data-field="fill-rule"] {
    field-sizing: content;
  }

  details.list-wrapper {
    position: fixed;
    top: var(--_list-wrapper-top, var(--spacing-200, 2em));
    left: var(--_list-wrapper-left, auto);
    right: var(--_list-wrapper-right, var(--spacing-200, 2em));
    bottom: var(--_list-wrapper-bottom, auto);

    background-color: var(--clr-surface-primary);
    border: var(--default-border);
    border-radius: var(--default-br, 0.25em);
    overflow: clip;
    max-block-size: 40vh;
    max-block-size: 40vb;
    max-inline-size: calc((var(--spacing-050, 0.5em) * 2) + 30ch);
    overflow-y: auto;

    & summary {
      touch-action: none;
      padding: var(--spacing-025, 0.25em) var(--spacing-050, 0.5em);
      background-color: var(--clr-surface-secondary);
      text-transform: uppercase;
      cursor: grab;
      position: sticky;
      top: 0;
    }

    & summary:active {
      user-select: none;
      cursor: grabbing;
    }

    & summary::marker {
      cursor: initial;
    }

    & .path-list {
      padding: var(--spacing-025, 0.25em) var(--spacing-050, 0.5em);
      inline-size: min(100%, 30ch);
    }

    & .path-item {
      display: grid;
      gap: var(--spacing-025, 0.25em);
      grid-template-columns: 1fr auto;

      &:is(.action_edit) [data-action="edit"] {
        color: var(--clr-accent-secondary, hotpink);
      }
    }

    & .actions {
      margin-inline-start: auto;
    }

    & .btn-action {
      padding: var(--spacing-025, 0.25em);
      filter: opacity(80%);
      transition: filter var(--default-trans-dur, 0.4s)
        var(--default-easing, ease);

      &:is([disabled]) {
        filter: opacity(20%);
        cursor: not-allowed;
      }
    }

    & .btn-action:is(:hover, :focus-visible):not([disabled]) {
      filter: opacity(100%);
    }
  } /* END details.list-wrapepr */

  .carousel-wrapper {
    overflow: clip;
    min-width: 0; /* this was the magic prop that allowed the overflow as a grid child (instead of making the minmax col grow */
  }

  .carousel-wrapper ul {
    display: grid;
    grid-auto-flow: column;
    gap: var(--spacing-100, 1em);
    align-items: center;
    max-width: 100%;

    overflow-x: auto;
    scroll-snap-type: x proximity;

    &::-webkit-scrollbar {
      display: none;
    }

    & > li {
      scroll-snap-align: center;
      width: 100cqi;
    }

    & li a {
      text-decoration: underline;
      text-underline-offset: 0.2em;
      text-decoration-thickness: 0.1em;
    }
  } /* END carousel-wrapper ul */

  @supports selector(::scroll-marker-group) {
    .carousel-wrapper {
      padding-block-end: var(--spacing-150, 1.5em);
      position: relative;
    }
    .carousel-wrapper ul::scroll-marker-group {
      display: flex;
      place-items: center;
      gap: var(--spacing-025, 0.25em);
      position: absolute;
      left: 50%;
      bottom: 0.5em;
      transform: translateX(-50%);
    }

    .carousel-wrapper ul {
      scroll-marker-group: after;

      & li::scroll-marker {
        content: "";
        background-color: var(--clr-surface-tertiary, hotpink);
        width: 1ch;
        height: 1ch;
        aspect-ratio: 1;
        border-radius: 50%;
        color: inherit;
      }

      & li::scroll-marker:target-current {
        background-color: currentColor;
      } /* END target-current */
    } /* END carousel-wrapper ul */
  } /* END @supports */
} /* END @layer base */

@layer template {
  @layer reset, base, layout, utilities;

  /*
     🎨 to build the colour system, define --clr-bg-base, --clr-text-base, and --clr-accent-base and their light-dark() values; if the redefined --clr-*-base is too dark in light mode, or too light in dark mode, redefine the --factor and/or --interval properties

     🆎 to build the font-system, define --ff-400, --ff-700, --fw-400, --fw-700, --fs-base, --lh-400, --lh-1

 add surface-accent,  text accent class
    */

  @layer reset {
    @property --contrast {
      syntax: "<number>";
      initial-value: 1; /* Default for Light Mode */
      inherits: true;
    }

    @property --elevation {
      syntax: "<number>";
      initial-value: -1; /* Default for Light Mode */
      inherits: true;
    }

    @property --base-factor {
      syntax: "<number>";
      initial-value: 0.1; /* Default for Light Mode */
      inherits: true;
    }

    @property --interval {
      syntax: "<number>";
      initial-value: 0.04; /* Default for Light Mode */
      inherits: true;
    }

    @property --_clr-bg {
      syntax: "<color>";
      initial-value: none; /* Locally scoped bg color for utility classes */
      inherits: false; /* we dont want it to inherit */
    }

    :root {
      --contrast: 1;
      --elevation: -1;
      --base-factor: 0.1;
      --interval: 0.04;

      /* FONT-FAMILY */
      /* 💎 primitives 💎 */
      --ff-400: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui;
      --ff-700: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui;
      /* ⚡️ semantics ⚡️ */
      --ff-primary: var(
        --ff-400,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        system-ui
      );
      --ff-accent: var(
        --ff-400,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        system-ui
      );
      --ff-display: var(
        --ff-700,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        system-ui
      );
      --ff-icon: "Font Awesome 6 Pro";

      /* FONT-WEIGHT */
      /* 💎 primitive tokens 💎 */
      --fw-400: 400;
      --fw-600: 600;

      /* ⚡️semantic tokens ⚡️ */
      --fw-body: var(--fw-400, 400);
      --fw-bold: var(--fw-600, 600);

      /* FONT-SIZE  */
      /* 💎 primitive tokens 💎 */
      --fs-base: clamp(0.875rem, 0.6548rem + 1.2259vw, 1.125rem);
      --fs-100: 0.75em;
      --fs-200: 0.85em;
      --fs-300: 0.925em;
      --fs-400: 1em;
      --fs-410: 1.1em;
      --fs-425: 1.25em;
      --fs-450: 1.5em;
      --fs-500: 2em;
      --fs-525: 2.25em;
      --fs-550: 2.5em;
      --fs-600: 3em;
      /* ⚡️ semantic tokens ⚡️ */
      --fs-xsmall: var(--fs-100, 0.75em);
      --fs-small: var(--fs-200, 0.8275em);
      --fs-body: var(--fs-400, 1em);
      --fs-lg: var(--fs-410, 1.1em);
      --fs-xl: var(--fs-425, 1.25em);
      --fs-h3: var(--fs-425, 1.25em);
      --fs-h2: var(--fs-450, 1.5em);
      --fs-h1: var(--fs-500, 2em);

      /* LINE-HEIGHT */
      /* 💎primitive tokens 💎 */
      --lh-400: 1.4;
      --lh-700: 1.1;
      /* ⚡️ semantic tokens ⚡️ */
      --lh-body: var(--lh-400, 1.4);
      --lh-1: var(--lh-700, 1.1);

      /* COLORS */
      /* ⚡️ semantic tokens ⚡️ */
      --clr-neutral-0: oklch(100% 0 0);
      --clr-neutral-1000: oklch(0% 0 0);
      --clr-error-400: oklch(47% 0.23 6);
      --clr-warning-400: yellow;
      --clr-success-400: green;

      /* text colors */
      --clr-text-base: currentColor;
      --clr-text: var(--clr-text-base);
      --clr-text-primary: var(--clr-text);
      --clr-text-secondary: oklch(
        from var(--clr-text-primary) calc(l + (0.2 * var(--contrast, 1))) c h
      );
      --clr-text-tertiary: oklch(
        from var(--clr-text-secondary) calc(l + (0.1 * var(--contrast, 1))) c h
      );
      --clr-text-accent: var(--clr-accent);
      --clr-text-inverse: oklch(
        from var(--clr-bg) calc(l + (0.1 * var(--contrast, 1))) c h
      );

      /* background colors */
      --clr-bg-base: canvas;
      --clr-bg: oklch(
        from var(--clr-bg-base)
          calc(l + (var(--base-factor, 0.1) * var(--elevation, -1))) c h
      );
      --clr-surface-primary: oklch(
        from var(--clr-bg) calc(l + var(--interval, 0.04)) c h
      );
      --clr-surface-secondary: oklch(
        from var(--clr-surface-primary)
          calc(l + (var(--interval, 0.04) * var(--elevation, -1))) c h
      );
      --clr-surface-tertiary: oklch(
        from var(--clr-surface-secondary)
          calc(l + (var(--interval, 0.04) * var(--elevation, -1))) c h
      );
      /* accent color */
      --clr-accent-base: hotpink;
      --clr-accent: var(--clr-accent-base);
      --clr-accent-primary: oklch(from var(--clr-accent) l c h);
      --clr-accent-secondary: oklch(
        from var(--clr-accent-primary) calc(l + 0.1) c h
      );

      /* 🧩 component tokens 🧩 */
      --clr-bg-body: var(--clr-bg);
      --clr-bg-card: var(--clr-surface-primary);
      --clr-border: color-mix(in oklch, currentColor 24%, transparent);
      --clr-shadow: color-mix(
        in oklch,
        var(--clr-neutral-900, var(--clr-neutral-1000)) 12%,
        transparent
      );

      /* spacing */
      /* 💎primitives 💎 */
      --spacing-025: 0.25em;
      --spacing-050: 0.5em;
      --spacing-075: 0.75em;
      --spacing-100: 1em;
      --spacing-125: 1.25em;
      --spacing-150: 1.5em;
      --spacing-200: 2em;
      --spacing-300: 3em;
      --spacing-400: 4em;

      /* numeric defaults */
      /* ⚡️ semantics ⚡️ */
      --default-max-inline-size: 1280px;
      --default-padding: var(--spacing-150, 1.5em);
      --default-border: 0.1em solid var(--clr-border);
      --default-shadow: 0px 0.125em 0.5em 0px var(--clr-shadow);
      --default-br: 0.25em;
      --default-ls: 0.0125em;
      --default-trans-dur: 400ms;
      --default-easing: var(--timing-bounce);
      --timing-bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      /* INHERITED PROPS */
      color-scheme: light dark;
      interpolate-size: allow-keywords;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --contrast: -1;
        --elevation: 1;
        --base-factor: 0.04;
        --interval: 0.1;
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      :is(*, *:before, *:after, #idForSpecificity) {
        scroll-behavior: smooth;
      }
    }

    @media (prefers-reduced-motion: reduce) {
      :is(*, *:before, *:after, #idForSpecificity) {
        --default-trans-dur: 1ms;
        transition-duration: 1ms;
      }
    }

    *,
    *:before,
    *:after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      outline-color: var(--clr-accent);
      outline-offset: 0.1em;
    }

    :target {
      scroll-margin-block: 3rlh;
    }

    ::selection {
      color: var(--clr-text-tertiary);
      background-color: var(--clr-surface-tertiary);
    }

    :is(ul, ol) {
      &:not([role="list"]) {
        margin: initial;
        padding: initial;
      }

      &:is([role="list"]) {
        list-style: "";
      }
    }

    img,
    svg {
      display: block;
      max-width: 100%;
    }

    a {
      color: inherit;
      font: inherit;
      text-decoration: none;
      display: inline-block;
    }

    input:not([type="checkbox"], [type="radio"]),
    textarea,
    select {
      font: inherit;
      color: inherit;
      background-color: var(--clr-surface-secondary, transparent);
      border: 1px solid;
      inline-size: 100%;
      padding: var(--spacing-025) var(--spacing-050);

      &:is(:user-invalid) {
        outline-color: var(--clr-error, red);
      }
    }

    /* REMOVE DEFAULT SPINNERS FROM NUMBER INPUTS */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* ... and for Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    /* INPUT TYPE=SEARCH clear button */
    input[type="search"]::-ms-clear {
      display: none;
      inline-size: 0;
      block-size: 0;
    }

    input[type="search"]::-ms-reveal {
      display: none;
      inline-size: 0;
      block-size: 0;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }

    input[type="file"] {
      border-color: var(--clr-text-primary);
      inline-size: fit-content;
    }

    /* choose file button styles */
    input[type="file"]::file-selector-button {
      background-color: var(--clr-bg-body);
      padding: 0.6em 1.2em;
      border-radius: var(--default-br, 0.25em);
      font: inherit;
      cursor: pointer;
    }

    button {
      background-color: transparent;
      color: inherit;
      font: inherit;
      border: none;
      cursor: pointer;
    }

    ::-webkit-scrollbar {
      inline-size: 0.5em;
      block-size: 0.25em;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 0.75em;
      background: var(--clr-surface-tertiary);
    }

    ::placeholder {
      color: inherit;
      opacity: 0.6;
    }
  } /* END @layer reset */

  @layer base {
    /* ELEMENT SELECTORS */

    body {
      font-family: var(--ff-primary);
      font-weight: var(--fw-body);
      font-size: var(--fs-base);
      line-height: var(--lh-body);
      color: var(--clr-text-primary);
      text-wrap: pretty;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      background: var(--clr-bg-body);
      /*     padding: var(--default-padding, 1em); */
      min-height: 100vh;
      min-height: 100dvh;
    }

    :is(h1, h2, h3) {
      --_ff-heading: var(--ff-display);
      font-family: var(--_ff-heading);
      font-weight: var(--fw-bold);
      line-height: var(--lh-1);
      text-wrap: balance;
    }

    h1 {
      font-size: var(--fs-h1);
    }

    h2 {
      font-size: var(--fs-h2);
    }

    h3 {
      font-size: var(--fs-h3);
    }
  } /* END @layer base */

  @layer utilities {
    /* TEXT UTILITIES */
    .xsmall {
      font-size: var(--fs-xsmall, 0.75em);
      line-height: var(--lh-1);
    }

    .small {
      font-size: var(--fs-small, 0.8275em);
      line-height: var(--lh-1);
    }

    .lg {
      font-size: var(--fs-lg, 1.1em);
      line-height: var(--lh-1);
    }

    .xlg {
      font-size: var(--fs-xl, 1.25em);
      line-height: var(--lh-1);
    }

    .bold {
      font-weight: var(--fw-bold, 600);
    }

    .thin {
      font-weight: calc(var(--fw-body, 400) - 100);
    }

    .uppercase {
      text-transform: uppercase;
    }

    .underline {
      text-decoration: underline;
    }

    .text-primary {
      color: var(--clr-text-primary);
    }

    .text-secondary {
      color: var(--clr-text-secondary);
    }

    .text-tertiary {
      color: var(--clr-text-tertiary);
    }

    .text-accent {
      color: var(--clr-text-accent);
    }

    .text-inverse {
      color: var(--clr-text-inverse);
    }

    .desat {
      --_desat-opacity: 0.7;
      opacity: var(--_desat-opacity, 0.7);
    }

    .ls-default {
      letter-spacing: var(--default-letter-spacing, 0.0125em);
    }

    .ta-cen {
      text-align: center;
    }

    .btn {
      background-color: var(--_btn-bg, transparent);
      padding: var(--spacing-50, 0.5em) var(--spacing-150, 1.5em);
      border: var(--default-border);
      border-radius: var(--default-br, 0.25em);
      outline-offset: 0.02em;
      transition:
        background-color var(--default-trans-dur, 400ms),
        color var(--default-trans-dur, 400ms);

      &:is(:hover, :focus-visible) {
        filter: invert(10%);
        /*       mix-blend-mode: difference;
      filter: hue-rotate(170deg); */
      }
    }

    .btn-primary {
      --_btn-bg: var(--clr-surface-secondary);
    }

    .btn-secondary {
      --_btn-bg: var(--clr-surface-tertiary);
    }

    .btn-accent {
      --_btn-bg: var(--clr-accent-primary);
    }

    .btn-text {
      --_btn-bg: transparent;
    }

    .btn-icon {
      --_btn-bg: transparent;
    }

    /* INTERACTIVE ELEMENT UTILITIES */
    [btn-close] {
      padding: var(--spacing-100, 1em);
      position: absolute;
      top: 0;
      right: 0;
      /* dont forget to add position relative to parent! */
    }

    /* DEFAULT SURFACES */
    .card {
      background-color: var(--clr-bg-card);
      padding: var(--default-padding);
      border-radius: var(--default-br);
      box-shadow: var(--default-shadow);
      border: var(--default-border);
    }

    .br-default {
      border-radius: var(--default-br, 0.25em);
    }

    .border-default {
      border: var(--default-border);
    }

    .surface-primary {
      --_clr-bg: var(--clr-surface-primary);
      background-color: var(--_clr-bg);
    }

    .surface-secondary {
      --_clr-bg: var(--clr-surface-secondary);
      background-color: var(--_clr-bg);
    }

    .surface-tertiary {
      --_clr-bg: var(--clr-surface-tertiary);
      background-color: var(--_clr-bg);
    }

    .surface-transp {
      --_clr-bg: transparent;
      background-color: var(--_clr-bg);
    }

    .surface-accent-primary {
      --_clr-bg: var(--clr-accent);
      background-color: var(--_clr-bg);
    }

    .surface-accent-secondary {
      --_clr-bg: var(--clr-accent-secondary);
      background-color: var(--_clr-bg);
    }

    /* SPACING UTILITIES */
    /* whatever the --default-padding var is defining */
    .padding-default {
      padding: var(--default-padding, 1em);
    }

    .padding-b-default {
      padding-block: var(--default-padding, 1em);
    }

    .padding-bs-default {
      padding-block-start: var(--default-padding, 1em);
    }

    .padding-be-default {
      padding-block-end: var(--default-padding, 1em);
    }

    .padding-i-default {
      padding-inline: var(--default-padding, 1em);
    }

    .padding-is-default {
      padding-inline-start: var(--default-padding, 1em);
    }

    .padding-ie-default {
      padding-inline-end: var(--default-padding, 1em);
    }

    /* 2em */
    .padding-2 {
      padding: var(--spacing-200, 2em);
    }

    .padding-b-2 {
      padding-block: var(--spacing-200, 2em);
    }

    .padding-bs-2 {
      padding-block-start: var(--spacing-200, 2em);
    }

    .padding-be-2 {
      padding-block-end: var(--spacing-200, 2em);
    }

    .padding-i-2 {
      padding-inline: var(--spacing-200, 2em);
    }

    .padding-is-2 {
      padding-inline-start: var(--spacing-200, 2em);
    }

    .padding-ie-2 {
      padding-inline-end: var(--spacing-200, 2em);
    }

    /* 1.5em */
    .padding-1half {
      padding: var(--spacing-150, 1.5em);
    }

    .padding-b-1half {
      padding-block: var(--spacing-150, 1.5em);
    }

    .padding-bs-1half {
      padding-block-start: var(--spacing-150, 1.5em);
    }

    .padding-be-1half {
      padding-block-end: var(--spacing-150, 1.5em);
    }

    .padding-i-1half {
      padding-inline: var(--spacing-150, 1.5em);
    }

    .padding-is-1half {
      padding-inline-start: var(--spacing-150, 1.5em);
    }

    .padding-ie-1half {
      padding-inline-end: var(--spacing-150, 1.5em);
    }

    /* 1.25em */
    .padding-1quarter {
      padding: var(--spacing-125, 1.25em);
    }

    .padding-b-1quarter {
      padding-block: var(--spacing-125, 1.25em);
    }

    .padding-bs-1quarter {
      padding-block-start: var(--spacing-125, 1.25em);
    }

    .padding-be-1quarter {
      padding-block-end: var(--spacing-125, 1.25em);
    }

    .padding-i-1quarter {
      padding-inline: var(--spacing-125, 1.25em);
    }

    .padding-is-1quarter {
      padding-inline-start: var(--spacing-125, 1.25em);
    }

    .padding-ie-1quarter {
      padding-inline-end: var(--spacing-125, 1.25em);
    }

    /* 1em */
    .padding-1 {
      padding: var(--spacing-100, 1em);
    }

    .padding-b-1 {
      padding-block: var(--spacing-100, 1em);
    }

    .padding-bs-1 {
      padding-block-start: var(--spacing-100, 1em);
    }

    .padding-be-1 {
      padding-block-end: var(--spacing-100, 1em);
    }

    .padding-i-1 {
      padding-inline: var(--spacing-100, 1em);
    }

    .padding-is-1 {
      padding-inline-start: var(--spacing-100, 1em);
    }

    .padding-ie-1 {
      padding-inline-end: var(--spacing-100, 1em);
    }

    /* 0.5em */
    .padding-half {
      padding: var(--spacing-050, 0.5em);
    }

    .padding-b-half {
      padding-block: var(--spacing-050, 0.5em);
    }

    .padding-bs-half {
      padding-block-start: var(--spacing-050, 0.5em);
    }

    .padding-be-half {
      padding-block-end: var(--spacing-050, 0.5em);
    }

    .padding-i-half {
      padding-inline: var(--spacing-050, 0.5em);
    }

    .padding-is-half {
      padding-inline-start: var(--spacing-050, 0.5em);
    }

    .padding-ie-half {
      padding-inline-end: var(--spacing-050, 0.5em);
    }

    /* 0.25em */
    .padding-quarter {
      padding: var(--spacing-025, 0.25em);
    }

    .padding-b-quarter {
      padding-block: var(--spacing-025, 0.25em);
    }

    .padding-bs-quarter {
      padding-block-start: var(--spacing-025, 0.25em);
    }

    .padding-be-quarter {
      padding-block-end: var(--spacing-025, 0.25em);
    }

    .padding-i-quarter {
      padding-inline: var(--spacing-025, 0.25em);
    }

    .padding-is-quarter {
      padding-inline-start: var(--spacing-025, 0.25em);
    }

    .padding-ie-quarter {
      padding-inline-end: var(--spacing-025, 0.25em);
    }

    /* 2em */
    .margin-2 {
      margin: var(--spacing-200, 2em);
    }

    .margin-b-2 {
      margin-block: var(--spacing-200, 2em);
    }

    .margin-bs-2 {
      margin-block-start: var(--spacing-200, 2em);
    }

    .margin-be-2 {
      margin-block-end: var(--spacing-200, 2em);
    }

    .margin-i-2 {
      margin-inline: var(--spacing-200, 2em);
    }

    .margin-is-2 {
      margin-inline-start: var(--spacing-200, 2em);
    }

    .margin-ie-2 {
      margin-inline-end: var(--spacing-200, 2em);
    }

    /* 1.5em */
    .margin-1half {
      margin: var(--spacing-150, 1.5em);
    }

    .margin-b-1half {
      margin-block: var(--spacing-150, 1.5em);
    }

    .margin-bs-1half {
      margin-block-start: var(--spacing-150, 1.5em);
    }

    .margin-be-1half {
      margin-block-end: var(--spacing-150, 1.5em);
    }

    .margin-i-1half {
      margin-inline: var(--spacing-150, 1.5em);
    }

    .margin-is-1half {
      margin-inline-start: var(--spacing-150, 1.5em);
    }

    .margin-ie-1half {
      margin-inline-end: var(--spacing-150, 1.5em);
    }

    /* 1.25em */
    .margin-1quarter {
      margin: var(--spacing-125, 1.25em);
    }

    .margin-b-1quarter {
      margin-block: var(--spacing-125, 1.25em);
    }

    .margin-bs-1quarter {
      margin-block-start: var(--spacing-125, 1.25em);
    }

    .margin-be-1quarter {
      margin-block-end: var(--spacing-125, 1.25em);
    }

    .margin-i-1quarter {
      margin-inline: var(--spacing-125, 1.25em);
    }

    .margin-is-1quarter {
      margin-inline-start: var(--spacing-125, 1.25em);
    }

    .margin-ie-1quarter {
      margin-inline-end: var(--spacing-125, 1.25em);
    }

    /* 1em */
    .margin-1 {
      margin: var(--spacing-100, 1em);
    }

    .margin-b-1 {
      margin-block: var(--spacing-100, 1em);
    }

    .margin-bs-1 {
      margin-block-start: var(--spacing-100, 1em);
    }

    .margin-be-1 {
      margin-block-end: var(--spacing-100, 1em);
    }

    .margin-i-1 {
      margin-inline: var(--spacing-100, 1em);
    }

    .margin-is-1 {
      margin-inline-start: var(--spacing-100, 1em);
    }

    .margin-ie-1 {
      margin-inline-end: var(--spacing-100, 1em);
    }

    /* 0.5em */
    .margin-half {
      margin: var(--spacing-050, 0.5em);
    }

    .margin-b-half {
      margin-block: var(--spacing-050, 0.5em);
    }

    .margin-bs-half {
      margin-block-start: var(--spacing-050, 0.5em);
    }

    .margin-be-half {
      margin-block-end: var(--spacing-050, 0.5em);
    }

    .margin-i-half {
      margin-inline: var(--spacing-050, 0.5em);
    }

    .margin-is-half {
      margin-inline-start: var(--spacing-050, 0.5em);
    }

    .margin-ie-half {
      margin-inline-end: var(--spacing-050, 0.5em);
    }

    /* 0.25em */
    .margin-quarter {
      margin: var(--spacing-025, 0.25em);
    }

    .margin-b-quarter {
      margin-block: var(--spacing-025, 0.25em);
    }

    .margin-bs-quarter {
      margin-block-start: var(--spacing-025, 0.25em);
    }

    .margin-be-quarter {
      margin-block-end: var(--spacing-025, 0.25em);
    }

    .margin-i-quarter {
      margin-inline: var(--spacing-025, 0.25em);
    }

    .margin-is-quarter {
      margin-inline-start: var(--spacing-025, 0.25em);
    }

    .margin-ie-quarter {
      margin-inline-end: var(--spacing-025, 0.25em);
    }

    /* 0 */
    .margin-0 {
      margin: 0;
    }

    .margin-b-0 {
      margin-block: 0;
    }

    .margin-bs-0 {
      margin-block-start: 0;
    }

    .margin-be-0 {
      margin-block-end: 0;
    }

    .margin-i-0 {
      margin-inline: 0;
    }

    .margin-is-0 {
      margin-inline-start: 0;
    }

    .margin-ie-0 {
      margin-inline-end: 0;
    }

    /* auto */
    .margin-auto {
      margin: auto;
    }

    .margin-i-auto {
      margin-inline: auto;
    }

    .margin-is-auto {
      margin-inline-start: auto;
    }

    .margin-ie-auto {
      margin-inline-end: auto;
    }

    .margin-b-auto {
      margin-block: auto;
    }

    .margin-bs-auto {
      margin-block-start: auto;
    }

    .margin-be-auto {
      margin-block-end: auto;
    }
  } /* END utilities */

  @layer layout {
    /* LAYOUT UTILITIES */
    .visually-hidden {
      clip: rect(0 0 0 0);
      clip-path: inset(100%);
      block-size: 0px;
      inline-size: 0px;
      overflow: hidden;
      position: fixed;
      top: -100%;
      left: -100%;
      white-space: nowrap;
      pointer-events: none;
      visibility: hidden;
    }

    .hide {
      scale: 0;
      transition: scale var(--default-trans-dur);
    }

    .container {
      container-type: inline-size;
    }

    /* in charge of horizontal containment */
    .wrapper {
      --_wrapper-padding-i: var(--default-padding);
      --_calc-width: calc(
        var(--default-max-inline-size, 1280px) -
          (var(--_wrapper-padding-i, 0) * 2)
      );
      inline-size: min(100%, var(--_calc-width, 1280px));
      padding-inline: var(--_wrapper-padding-i, 0);
      margin-inline: auto;
    }

    .row {
      display: flex;
    }

    .col {
      display: flex;
      flex-direction: column;
    }

    .grid {
      display: grid;
    }

    .subgrid {
      display: grid;
      grid-template-columns: subgrid;
    }

    .subgrid-row {
      display: grid;
      grid-template-rows: subgrid;
    }

    .span-all {
      grid-column: 1 / -1;
    }

    .auto-fit {
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(100%, var(--_col-size, 30ch)), 1fr)
      );
    }

    .stretch-h {
      height: stretch;
    }

    .pc-cen {
      place-content: center;
    }

    .pi-cen {
      place-items: center;
    }

    .ac-st {
      align-content: start;
    }

    .ac-cen {
      align-content: center;
    }

    .ac-end {
      align-content: end;
    }

    .ac-sb {
      align-content: space-between;
    }

    .ac-str {
      align-content: stretch;
    }

    .ai-st {
      align-items: start;
    }

    .ai-cen {
      align-items: center;
    }

    .ai-end {
      align-items: end;
    }

    .ai-base {
      align-items: baseline;
    }

    .ai-str {
      align-items: stretch;
    }

    .jc-st {
      justify-content: start;
    }

    .jc-cen {
      justify-content: center;
    }

    .jc-end {
      justify-content: end;
    }

    .jc-sb {
      justify-content: space-between;
    }

    .jc-sa {
      justify-content: space-around;
    }

    .jc-se {
      justify-content: space-evenly;
    }

    .fw-wrap {
      flex-wrap: wrap;
    }

    .grow-1 {
      flex-grow: 1;
    }

    .shrink-0 {
      flex-shrink: 0;
    }

    .flex {
      flex: 1;
    }

    .gap-4 {
      gap: var(--spacing-400, 4em);
    }

    .gap-3 {
      gap: var(--spacing-300, 3em);
    }

    .gap-2 {
      gap: var(--spacing-200, 2em);
    }

    .gap-1 {
      gap: var(--spacing-100, 1em);
    }

    .gap-half {
      gap: var(--spacing-050, 0.5em);
    }

    .gap-quarter {
      gap: var(--spacing-025, 0.25em);
    }
  } /* END layout */
} /* END template */
